@model IEnumerable<_0306191074_TranThanhTam.Areas.Admin.Models.SlideShow>

@{
    ViewData["Title"] = "Quản lý SlideShow";
}
<div class="row">
    <div class="col col-lg-6 col-md-12">
        <form asp-action="Index" method="post" class="nav-link d-lg-flex search align-items-center">
            <input type="text" id="txtSearch" name="txtSearch" class="form-control text-light m-1" placeholder="Tìm kiếm">
            <input type="date" name="ngay" class="form-control text-light m-1" value="" />
            <input type="submit" value="Lọc" class="btn btn-primary" />
        </form>
    </div>
</div>
<div class="page-header">
    <h3 class="page-title"> Danh sách SlideShow </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Create">Thêm SlideShow</a>
            <li class="breadcrumb-item active" aria-current="page">Danh sách SlideShow</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bảng SlideShow</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SanPham)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HinhAnh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TieuDe)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoiDung)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayDang)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TrangThai)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                                    </td>
                                    <td>
                                        <img src="~/images/slideshow/@Html.DisplayFor(modelItem => item.HinhAnh)" style="width: 200px !important; height: 100px; border-radius: 0;" alt="" />
                                    </td>
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.TieuDe)
                                    </td>
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.NoiDung)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayDang)
                                    </td>
                                    <td>
                                        @if (item.TrangThai == true)
                                        {
                                            <span class="btn btn-outline-primary">Đang sử dụng</span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-outline-warning">Không sử dụng</span>
                                        }

                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


